<noscript>
    Errors may occur if javascript is not enabled.
</noscript>
<header>
 picture or something eppic nomnomnom
</header>

<div class="background">
<nav>

 <ul>
    <li><a routerLink = "home" routerLinkActive="active">Home</a></li>
    <li><a routerLink = "add-card" routerLinkActive = "active">Add Card</a></li>
    <li><a routerLink = "remove-card" routerLinkActive = "active">Remove Card</a></li>
    <li><a routerLink = "quiz" routerLinkActive = "active">Quiz!</a></li>


   
 </ul>

 
</nav>